
.confirmar-email {
    background-image: url(../../../assets/img/textura_pedra2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.confirmar-email section {
    background-color: var(--black-transparent);
    height: 55%;
    width: 45%;
    padding: 20px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-image: url(../../../assets/img/emerald_border.png) 27 round;
    border-image-width: 5px;
    box-shadow: var(--pure-black) 0px 22px 70px 4px;
}

.confirmar-email section h1 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 600;
    color: var(--main-green);
    font-size: 42px;
    margin: 5px;
    text-shadow: 3px 3px 3px var(--pure-black);
}

.confirmar-email section form {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.confirmar-email section form div {
    justify-content: center;
    width: 90%;
    height: 200px;
}

.confirmar-email section form div label {
    color: var(--green);
    width: 100%;
    margin: 15px 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cinzel', sans-serif;
    text-shadow: 3px 3px 3px var(--pure-black);
    cursor: text;
}

.confirmar-email section form div input {
    background: transparent;
    background-color: var(--black-transparent);
    border: solid 2px var(--dark-green);
    font-family: 'Playfair Display', sans-serif;
    font-weight: 500;
    color: var(--green);
    font-size: 28px;
}

.confirmar-email section form div input::placeholder {
    color: rgb(73, 73, 73);
}