@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=PT+Serif&family=Playfair+Display&family=Roboto+Slab&display=swap');


:root {
  --pure-black: #000000;
  --black: #191A19;
  --white: #ffffff;
  --main-green: #007D00;
  --dark-green: #1E5128;
  --green: #4E9F3D;
  --light-green: #84ca76;
  --neon-green: #00FF21;
  --black-transparent: rgba(25, 26, 25, 0.7);
  --grey: #e4e2e2;
  --dark-grey: #afafaf;
}

body {
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: var(--black-transparent); 
  width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    background: linear-gradient(90deg, var(--dark-green) 0%, var(--green) 49%, var(--dark-green) 100%);
    border-radius: 10px;
}

@keyframes fadein-transicao {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes fadeout-transicao {
  from {opacity: 100%;}
  to {opacity: 0%;}
}