
.anuncio-container {
    width: 100px;
    height: 95%;
    margin: 10px;
    background-size: cover;
    border-image: url(../../../assets/img/emerald_border.png) 27 round;
    border-image-width: 3px;
    cursor: pointer;
    animation: anuncio_animacao 8s infinite ease-in-out alternate;
}


@keyframes anuncio_animacao {
    from {background-position: left;}
    to {background-position: right;}
}